<div class="section">
<%= simple_form_for(@product) do |f| %>

    <% if @product.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
            <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <div class="field">
        <div class="control">
            <%= f.input :name, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'}%>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <%= f.input :description, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'}%>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <%= f.input :price, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'}%>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"} %>
            
        </div>
    </div>

    <div class="field">
        <h4>Upload an image (this is required):</h4>
        <%= f.input :image, label: false %>
    </div>


<%= f.button :submit, class: 'button is-primary' %>

<% end %>
</div>